<div class="modal-overlay">
  <div class="modal-content flex flex-col max-h-[80vh]">
    <div class="sticky top-0 bg-white z-10">
      <h2 class="text-2xl mb-4 border-b pb-4">Request a Quote</h2>
    </div>
    <form
      id="signup-form"
      class="flex-1 overflow-y-auto p-5"
      [formGroup]="requestForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Name Fields -->
      <div class="grid md:grid-cols-2 ultraSm:grid-cols-1 gap-4">
        <div class="form-group">
          <label for="first-name" class="block text-sm text-neutral-700 mb-2"
            >First Name</label
          >
          <input
            type="text"
            id="first-name"
            name="first-name"
            class="w-full px-3 py-2 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-transparent"
            placeholder="Please enter your first name"
            formControlName="firstName"
            [ngClass]="{
              'border-red-500':
                (f['firstName'].touched || isFormSubmitted) &&
                f['firstName'].invalid
            }"
          />

          <div
            *ngIf="
              f['firstName'].errors &&
              f['firstName'].errors['required'] &&
              (f['firstName'].dirty ||
                f['firstName'].touched ||
                isFormSubmitted)
            "
            class="text-red-500 text-sm mt-1"
          >
            First Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="last-name" class="block text-sm text-neutral-700 mb-2"
            >Last Name</label
          >
          <input
            type="text"
            id="last-name"
            name="last-name"
            class="w-full px-3 py-2 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-transparent"
            placeholder="Please enter your last name"
            formControlName="lastName"
            [ngClass]="{
              'border-red-500':
                (f['lastName'].touched || isFormSubmitted) &&
                f['lastName'].invalid
            }"
          />

          <div
            *ngIf="
              f['lastName'].errors &&
              f['lastName'].errors['required'] &&
              (f['lastName'].dirty || f['lastName'].touched || isFormSubmitted)
            "
            class="text-red-500 text-sm mt-1"
          >
            Last Name is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone-number" class="block text-sm text-neutral-700 mb-2"
          >Phone Number</label
        >
        <input
          type="tel"
          id="phone-number"
          name="phone-number"
          class="w-full px-3 py-2 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-transparent"
          placeholder="Please enter your phone number"
          formControlName="phone"
          [ngClass]="{
            'border-red-500':
              (f['phone'].touched || isFormSubmitted) && f['phone'].invalid
          }"
        />

        <div
          *ngIf="
            f['phone'].errors &&
            f['phone'].errors['required'] &&
            (f['phone'].dirty || f['phone'].touched || isFormSubmitted)
          "
          class="text-red-500 text-sm mt-1"
        >
          Phone Number is required
        </div>
        <div
          *ngIf="f['phone'].errors?.['pattern']"
          class="text-red-500 text-sm mt-1"
        >
          Enter a valid phone number
        </div>
      </div>
      <!-- Email Field -->
      <div class="form-group">
        <label for="email" class="block text-sm text-neutral-700 mb-2"
          >Email Address</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="w-full px-3 py-2 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-transparent"
          placeholder="Please enter your email"
          formControlName="email"
          [ngClass]="{
            'border-red-500':
              (f['email'].touched || isFormSubmitted) && f['email'].invalid
          }"
        />

        <div
          *ngIf="
            f['email'].errors &&
            f['email'].errors['required'] &&
            (f['email'].dirty || f['email'].touched || isFormSubmitted)
          "
          class="text-red-500 text-sm mt-1"
        >
          Email is required
        </div>
        <div
          *ngIf="f['email'].errors?.['email']"
          class="text-red-500 text-sm mt-1"
        >
          Valid email is required
        </div>
      </div>
      <div class="form-group" *ngIf="isService">
        <label for="subject" class="block text-sm text-neutral-700 mb-2">
          Service
        </label>
        <select
          id="subject"
          name="subject"
          formControlName="service"
          class="w-full px-3 py-2 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-transparent"
        >
          <span>
            <option value="">Select a service</option>
            <option *ngFor="let service of services" [value]="service.title">
              {{ service.title }}
            </option>
          </span>
        </select>
      </div>
      <div class="form-group">
        <label for="description" class="block text-sm text-neutral-700 mb-2"
          >Description</label
        >
        <textarea
          id="description"
          name="description"
          rows="4"
          placeholder="Please provide details about your request"
          formControlName="description"
          class="w-full px-3 py-2 border border-neutral-300 rounded-md focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:border-transparent"
          [ngClass]="{
            'border-red-500':
              (f['description'].touched || isFormSubmitted) &&
              f['description'].invalid
          }"
          maxlength="500"
        ></textarea>

        <div class="flex justify-between">
          <div
            *ngIf="
              f['description'].errors &&
              f['description'].errors['required'] &&
              (f['description'].dirty ||
                f['description'].touched ||
                isFormSubmitted)
            "
            class="text-red-500 text-sm mt-1"
          >
            Description is required
          </div>
          <div
            *ngIf="f['description'].errors?.['maxlength']"
            class="text-red-500 text-sm mt-1"
          >
            You have exceeded the maximum length of 500 characters.
          </div>
          <div class="ml-auto">
            {{ requestForm.get("description")?.value?.length || 0 }}/500
          </div>
        </div>
      </div>
      <div class="form-group pb-6" *ngIf="!isService">
        <label for="count" class="block text-sm text-neutral-700 mb-2"
          >Quantity</label
        >
        <div class="flex justify-center gap-5 items-center">
          <button type="button" (click)="onDecrease()" class="border px-2.5">
            -</button
          >{{ count
          }}<button type="button" (click)="onIncrease()" class="border px-2.5">
            +
          </button>
        </div>
      </div>
    </form>

    <!-- Submit Button -->
    <div class="modal-footer sticky bottom-0 bg-white z-10 border-t">
      <button
        class="border px-4 py-2 rounded hover:text-primary-600 hover:border-primary-600"
        (click)="onClose()"
      >
        Close
      </button>
      <button
        type="submit"
        class="bg-primary-600 text-white py-3 px-4 rounded-md hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-neutral-500 focus:ring-offset-2 transition duration-200"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
