<header
  id="header"
  class="bg-primary-700 shadow-sm sticky top-0 z-50 text-white"
>
  <div class="px-4 py-3">
    <div class="flex justify-between gap-4 items-center">
      <!-- Logo and tagline -->
      <div class="flex items-center space-x-4">
        <h1
          class="text-2xl md:text-xl font-bold mr-2 cursor-pointer"
          [routerLink]="['/']"
          (click)="onToggleDropdown('')"
        >
          PowerTrans
        </h1>
      </div>

      <!-- Desktop Navigation -->

      <!-- Desktop CTA Buttons -->
      <div class="hidden md:flex items-center space-x-4">
        <nav class="hidden md:flex items-center space-x-8">
          <span
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onToggleDropdown('')"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Home</span
          >
          <span
            [routerLink]="['/products']"
            routerLinkActive="active"
            (click)="onToggleDropdown('')"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Products</span
          >
          <span
            [routerLink]="['/services']"
            routerLinkActive="active"
            (click)="onToggleDropdown('')"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Services</span
          >
          <div class="relative group">
            <span
              class="hover:text-primary-100 transition-colors cursor-pointer"
              >Services</span
            >

            <!-- Dropdown menu -->
            <div
              id="dropdown"
              class="z-10 min-w-[900px] absolute top-10 right-0 bg-white rounded-lg shadow-sm w-fit dark:bg-gray-700 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200"
            >
              <div class="flex justify-between items-start">
                <!-- Grid container with 3 columns -->
                <ul
                  class="grid grid-cols-3 gap-2 p-4 text-sm text-gray-700 dark:text-gray-200"
                >
                  <li *ngFor="let service of services">
                    <a
                      [routerLink]="['/contact']"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded"
                      (click)="onToggleDropdown('')"
                    >
                      {{ service.serviceName }}
                    </a>
                  </li>
                </ul>

                <!-- Close icon -->
                <div
                  class="text-primary-600 mt-2 mr-2 cursor-pointer"
                  (click)="onToggleDropdown('')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18 18 6M6 6l12 12"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <div class="relative group">
            <span
              class="hover:text-primary-100 transition-colors cursor-pointer"
              (click)="onToggleDropdown('Contact')"
              >Contact</span
            >

            <!-- Dropdown menu -->
            <div
              id="dropdown"
              class="z-10 absolute top-10 right-0 bg-white rounded-lg shadow-sm w-fit dark:bg-gray-700 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200"
            >
              <div class="flex justify-between">
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
                  <li>
                    <a
                      [routerLink]="['/contact']"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Contact Us</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                      >Emergency Info</a
                    >
                  </li>
                </ul>

                <div
                  class="text-primary-600 mt-2 mr-2 cursor-pointer"
                  (click)="onToggleDropdown('')"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18 18 6M6 6l12 12"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>

          <!-- <span
          [routerLink]="['/clients']"
          routerLinkActive="active"
          class=" hover:text-primary-100 transition-colors cursor-pointer"
          >Clients</span
        > -->
          <!-- <span
            routerLinkActive="active"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Contact</span
          > -->
          <span
            [routerLink]="['/login']"
            routerLinkActive="active"
            (click)="onToggleDropdown('')"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Login</span
          >
        </nav>

        <button
          *ngIf="isLoggedIn"
          class="bg-primary-600 hover:bg-primary-700 text-white px-4 py-2 rounded-md text-sm transition-colors"
        >
          Get Started
        </button>
      </div>

      <!-- Mobile Menu Toggle Button -->
      <div class="md:hidden flex items-center">
        <button (click)="onToggleMenu()">
          <ng-container *ngIf="!toggleState">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </ng-container>
          <ng-container *ngIf="toggleState">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </ng-container>
        </button>
      </div>
    </div>

    <!-- Mobile Dropdown Menu -->
    <div *ngIf="toggleState" class="md:hidden mt-4 space-y-4">
      <nav class="flex flex-col space-y-2">
        <span
          class="hover:text-primary-100 transition-colors cursor-pointer"
          [routerLink]="['/products']"
          routerLinkActive="active"
          >Products</span
        >
        <span
          [routerLink]="['/services']"
          routerLinkActive="active"
          class="hover:text-primary-100 transition-colors cursor-pointer"
          >Services</span
        >

        <span
          class="hover:text-primary-100 transition-colors cursor-pointer"
          [routerLink]="['/contact']"
          routerLinkActive="active"
          >Contact</span
        >
      </nav>
      <div class="flex flex-col space-y-2 pt-2">
        <span
          [routerLink]="['/login']"
          routerLinkActive="active"
          class="hover:text-primary-100 transition-colors cursor-pointer"
          >Login</span
        >
        <button
          class="bg-primary-600 hover:bg-primary-100 text-white px-4 py-2 rounded-md text-sm transition-colors"
        >
          Get Started
        </button>
      </div>
    </div>
  </div>
</header>
