<header
  id="header"
  class="bg-primary-700 shadow-sm sticky top-0 z-50 text-white"
>
  <div class="px-4 py-3">
    <div class="flex justify-between gap-4 items-center">
      <!-- Logo and tagline -->
      <div class="flex items-center space-x-4">
        <h1
          class="text-2xl md:text-xl font-bold mr-2 cursor-pointer"
          [routerLink]="['/']"
        >
          PowerTrans
        </h1>
      </div>

      <!-- Desktop Navigation -->
      <div class="hidden md:flex items-center space-x-4">
        <nav class="hidden md:flex items-center space-x-8">
          <span
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Home</span
          >
          <span
            [routerLink]="['/products']"
            routerLinkActive="active"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Products</span
          >

          <!-- Dropdown menu for Services -->
          <div class="relative group">
            <span
              [ngClass]="{
                'border-b': router.url.startsWith('/services')
              }"
              class="hover:text-primary-100 transition-colors cursor-pointer"
            >
              Services
            </span>
            <div
              id="dropdown"
              class="z-10 min-w-[900px] absolute top-10 right-0 bg-white rounded-lg shadow-sm w-fit dark:bg-gray-700 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200"
            >
              <div class="flex justify-between items-start">
                <ul
                  class="grid grid-cols-3 gap-2 p-4 text-sm text-gray-700 dark:text-gray-200"
                >
                  <li *ngFor="let service of services">
                    <a
                      class="block px-4 py-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded"
                      (click)="onSelectService(service)"
                    >
                      {{ service.title }}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <span
            [routerLink]="['/contact']"
            routerLinkActive="active"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Contact</span
          >
          <span
            *ngIf="authService.isLoggedIn$ | async"
            [routerLink]="['/user-details']"
            routerLinkActive="active"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Dashboard</span
          >

          <span
            *ngIf="!(authService.isLoggedIn$ | async)"
            [routerLink]="['/login']"
            routerLinkActive="active"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Login</span
          >
          <span
            *ngIf="authService.isLoggedIn$ | async"
            [routerLink]="['/login']"
            routerLinkActive="active"
            (click)="authService.setLoginStatus(false)"
            class="hover:text-primary-100 transition-colors cursor-pointer"
            >Logout</span
          >
        </nav>

        <button
          *ngIf="isLoggedIn"
          class="bg-primary-600 hover:bg-primary-700 text-white px-4 py-2 rounded-md text-sm transition-colors"
        >
          Get Started
        </button>
      </div>

      <!-- Mobile Menu Toggle Button -->
      <div class="md:hidden flex items-center">
        <button (click)="onToggleMenu()">
          <ng-container *ngIf="!toggleState">
            <!-- Hamburger Icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </ng-container>
          <ng-container *ngIf="toggleState">
            <!-- Close Icon -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </ng-container>
        </button>
      </div>
    </div>

    <!-- Mobile Dropdown Menu -->
    <div *ngIf="toggleState" class="md:hidden mt-4 space-y-4">
      <nav class="flex flex-col space-y-2">
        <span
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="hover:text-primary-100 transition-colors cursor-pointer"
          >Home</span
        >
        <span
          [routerLink]="['/products']"
          routerLinkActive="active"
          class="hover:text-primary-100 transition-colors cursor-pointer"
          >Products</span
        >

        <!-- Mobile Services List -->
        <div>
          <span class="block font-medium">Services</span>
          <ul class="pl-4 space-y-1">
            <li *ngFor="let service of services">
              <a
                [routerLink]="['/contact']"
                class="block text-sm hover:text-primary-100 transition-colors cursor-pointer"
              >
                {{ service.serviceName }}
              </a>
            </li>
          </ul>
        </div>

        <span
          [routerLink]="['/contact']"
          routerLinkActive="active"
          class="hover:text-primary-100 transition-colors cursor-pointer"
          >Contact</span
        >
      </nav>
      <div class="flex flex-col space-y-2 pt-2">
        <span
          [routerLink]="['/login']"
          routerLinkActive="active"
          class="hover:text-primary-100 transition-colors cursor-pointer"
          >Login</span
        >
        <button
          class="bg-primary-600 hover:bg-primary-100 text-white px-4 py-2 rounded-md text-sm transition-colors"
        >
          Get Started
        </button>
      </div>
    </div>
  </div>
</header>
