<main
  id="main-content"
  class="bg-neutral-50 flex items-center justify-center px-6 py-12"
>
  <div id="login-container" class="max-w-md w-full space-y-8">
    <div class="text-center">
      <h2 class="text-3xl text-neutral-900 mb-2">Reset Your Password</h2>
      <p class="text-neutral-600">
        Enter your registered email address to receive a password reset OTP.
      </p>
    </div>

    <div
      id="login-form-wrapper"
      class="bg-white py-8 px-6 shadow-sm rounded-lg border-t-4 border-primary-600"
    >
      <section id="email-section">
        <form #emailForm="ngForm" (ngSubmit)="onVerifyEmail(emailForm)">
          <label for="email" class="block text-sm text-neutral-700 mb-2"
            >Email
          </label>
          <input
            class="w-full px-3 py-2 border focus:outline-none border-neutral-300 rounded-md shadow-sm placeholder-neutral-400"
            placeholder="Enter your email"
            type="email"
            id="email"
            name="email"
            ngModel
            required
            email
            #email="ngModel"
          />

          <div
            *ngIf="email.invalid && (email.touched || submitted)"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="email.errors?.['required']">Email is required.</div>
            <div *ngIf="email.errors?.['email']">Invalid email format.</div>
          </div>
          <div class="btn_container">
            <button
              type="submit"
              class="w-auto mt-4 py-2 px-3 border border-transparent rounded shadow-sm text-sm text-white bg-primary-600 hover:bg-primary-700 outline-none"
            >
              Submit
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</main>
