<section id="product-page" class="pt-1 pb-24 px-4 container mx-auto">
  <button
    (click)="onGoBack()"
    class="inline-flex items-center justify-center gap-2 text-sm font-medium hover:text-primary-600 h-10 px-4 py-2 mb-6"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-4"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
      />
    </svg>
    Back to Products
  </button>
  <div
    id="product-gallery"
    class="mt-4 bg-neutral-100 rounded-lg h-[350px] flex items-center justify-center"
  >
    <div class="text-center p-4">
      <img src="{{ product.imageUrl }}" alt="{{ product.productName }}" />
    </div>
  </div>

  <div id="product-info" class="mt-6">
    <h1 class="text-2xl">{{ product.productName }}</h1>
    <div class="flex items-center mt-2">
      <div class="flex text-neutral-800">{{ product.description }}</div>
      <!--
      <span class="ml-2 text-neutral-600 text-sm">(24 reviews)</span> -->
    </div>

    <div class="mt-4">
      <span class="text-2xl">{{ product.price }}</span>
    </div>
    <div class="flex justify-center mt-8">
      <div
        class="w-11/12 p-4 bg-white rounded-lg border border-border-gray overflow-hidden transition-shadow cursor-pointer"
      >
        <h2 class="text-lg">Specifications</h2>
        <ul class="mt-2 space-y-2">
          <li class="flex justify-between py-2 border-b border-neutral-200">
            <span class="text-neutral-600">Power Rating</span>
            <span>{{ product.rating }}</span>
          </li>
          <li class="flex justify-between py-2 border-b border-neutral-200">
            <span class="text-neutral-600">Voltage Ratio</span>
            <span>{{ product.voltage }}</span>
          </li>
          <!-- <li class="flex justify-between py-2 border-b border-neutral-200">
            <span class="text-neutral-600">IoT Enabled</span>
            <span>Yes</span>
          </li>
          <li class="flex justify-between py-2 border-b border-neutral-200">
            <span class="text-neutral-600">Warranty</span>
            <span>5 Years</span>
          </li> -->
        </ul>
        <!-- <div class="mt-6 flex justify-center">
          <div class="">
            <div class="flex gap-4 mt-2">
              <button
                class="bg-primary-600 text-white py-2 px-4 rounded-md flex items-center justify-center"
              >
                Request for Quote
              </button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
